<%- include('../layouts/adminHeader.ejs') %>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="text-align: center;">
                <h1 style="font-size: 30px; text-align: center; font-family: Arial, Helvetica, sans-serif;">Dashboard</h1>
            </div>

            <a href="/admin/new-user" class="btn btn-outline-primary">Add User</a>
            <br><br>

            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Verified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (users.length > 0) { for (let i = 0; i < users.length; i++) { %>
                        <tr>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].mobile %></td>
                            <td>
                                <% if (users[i].is_verified == 0) { %>
                                <p>Not Verified</p>
                                <% } else { %>
                                <p>Verified</p>
                                <% } %>
                            </td>
                            <td>
                                <a href="/admin/edit-user?id=<%= users[i]._id %>"
                                    class="btn btn-outline-success">Edit</a>
                                <a href="/admin/block-unblock-user?id=<%= users[i]._id%>"
                                    class="btn <%= users[i].status.toString() === 'true' ? 'btn-outline-danger' : 'btn-outline-success' %>"
                                    onclick="confirmBlockUnblock('<%= users[i]._id %>','<%= users[i].status.toString() %>', event)">
                                    <%= users[i].status.toString() === 'true' ? 'Block' : 'Unblock' %>
                                </a>
                            </td>
                        </tr>
                        <% } } else { %>
                        <tr>
                            <td colspan="5">Users Not Found</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/alertPopUp.js"></script>
