<%- include('../layouts/adminHeader.ejs')%>

<style>
    table,th,td {
        border: 1px solid;
    }
</style>

<div style="text-align: center; padding-top: 20px;">
    <h1>Dashboard</h1>
</div>

<a href="/admin/new-user" class="btn btn-outline-primary">Add User</a>
<br><br>

<table style="width: 50%;">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Verified</th>
        <th>Actions</th>
    </tr>

    <%
        if(users.length>0){

            for(let i=0; i<users.length; i++){
                %>
                <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].mobile %></td>
                    <td>
                        <%
                            if(users[i].is_verified == 0){
                                %>
                                <p>Not Verified</p>
                                <%
                            }else{
                                %>
                                <p>Verified</p>
                                <%
                            }
                        %>
                    </td>

                    <td>
                        <a href="/admin/edit-user?id=<%= users[i]._id %>" class="btn btn-outline-success">Edit</a>
                        
                        <!-- <a href="/admin/block-unblock-user?id=<%= users[i]._id%>" class="btn <%= users[i].status.toString() === 'true' ? 'btn-outline-danger' : 'btn-outline-success' %>" onclick="confirmBlockUnblock('<%= users[i]._id %>','<%= users[i].status.toString() %>')">
                             <%= users[i].status.toString() === 'true'? 'Block' : 'Unblock' %> </a> -->
                             <a href="/admin/block-unblock-user?id=<%= users[i]._id%>" class="btn <%= users[i].status.toString() === 'true' ? 'btn-outline-danger' : 'btn-outline-success' %>" onclick="confirmBlockUnblock('<%= users[i]._id %>','<%= users[i].status.toString() %>', event)">
                                <%= users[i].status.toString() === 'true'? 'Block' : 'Unblock' %>
                              </a>
                                                                                                                
                        

                        <!-- <button><a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a></button> -->
                    </td>

                </tr>
                <%
            }

        }else{
            %>
            <tr>
                <td colspan="5">Users Not Found</td>
            </tr>

            <%
        }
    %>

</table>
<script src="/js/alertPopUp.js"></script>