<%- include('../layouts/adminHeader.ejs') %>

<title>Edit User</title>

<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 border rounded p-4">
                <div class="text-center mb-4">
                    <h1 class="display-4" style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Edit User</h1>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <form action="" method="post">
                        <input type="text" name="name" placeholder="Name" value="<%= user.name %>" required class="form-control mb-3">
                        <input type="email" name="email" placeholder="Email" value="<%= user.email %>" required class="form-control mb-3">
                        <input type="tel" name="mno" placeholder="Mobile" value="<%= user.mobile %>" required class="form-control mb-3">

                        <label class="mr-2">Verified:</label>
                        <input type="radio" name="verify" value="1" <% if(user.is_verified == 1){ %> checked <%} %> class="mr-2">
                        <label class="mr-4">Yes</label>
                        <input type="radio" name="verify" value="0" <% if(user.is_verified == 0){ %> checked <%} %> class="mr-2">
                        <label>No</label>

                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="submit" value="Update User" class="btn btn-success" onclick="confirmUpdateUser(event)">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/alertPopUp.js"></script>
