<%- include('../layouts/adminHeader.ejs')%>

<div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
<h1>Edit User</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
<form action="" method="post">

    <input type="text" name="name" placeholder="Name" value="<%= user.name %>" required>
    <br><br>
    <input type="email" name="email" placeholder="Email" value="<%= user.email %>" required>
    <br><br>
    <input type="tel" name="mno" placeholder="Mobile" value="<%= user.mobile%>" required>
    <br><br>
    <label>Verified</label>
    <input type="radio" name="verify" value="1" <% if(user.is_verified == 1){ %> checked <%} %> >
    <label>Not Verified</label>
    <input type="radio" name="verify" value="0" <% if(user.is_verified == 0){ %> checked <%} %> >
    <br><br>
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="submit" value="Update User" onclick="confirmUpdateUser(event)">

</form>
</div>

<script src="/js/alertPopUp.js"></script>