<%- include('../layouts/adminHeader.ejs') %>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="text-align: center;">
                <h1 style="font-size: 30px; text-align: center; font-family: Arial, Helvetica, sans-serif;">Orders</h1>
            </div>


            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Order id</th>
                            <th>Customer id</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Address</th>
                            <th>Total Amount</th>
                            <th>Payment Method</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <% if (orderData.length > 0) { %>
                            <% orderData.forEach(order => { %>
                        <tr>
                            <td><%= order._id %></td>
                            <td><%= order.customer %></td>
                            <td><%= order.orderDate.toLocaleDateString(undefined, { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
							<td><%= order.items.map(item => item.name).join(', ') %></td>
                            <td><%= order.orderAddress %></td>
							<td><%= order.totalAmount %></td>
                            <td><%= order.paymentMethod %></td>

                            <td>
                                <form action="/admin/orders" method="post">
                                <select name="status" id="">
                                <option value="<%= order.status %>"><%= order.status %></option>
                                <option value="pending">pending</option>
                                <option value="processing">processing</option>
                                <option value="shipped">shipped</option>
                                <option value="delivered">delivered</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="returned">returned</option>
                            </select></td>
                            <input type="hidden" name="id" value="<%= order._id %>"> 
                            <td>
                                    <button class="btn btn-outline-success btn-sm" type="submit" onclick="confirmContinue(event)">Update</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                        <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center">Orders Not Found</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/alertPopUp.js"></script>
