<%- include('../layouts/adminHeader.ejs')%>

<style>
  .table tbody tr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
    transition: 0.2s;
  }

  .description-column {
    max-width: 500px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<title><%= ProductData.name %></title>

<main>
  <div class="container-fluid mt-4 border-primary">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">

        <form method="" action="/admin/Products/add">
          <!-- Add form fields here if needed -->
        </form>

        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <td><%= ProductData.name %></td>
              <th>Description</th>
              <td class="description-column"><%= ProductData.description %></td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <tbody>
            <tr>
              <th>Price</th>
              <td><%= ProductData.price %></td>
              <th>Category</th>
              <td><%= ProductData.category %></td>
            </tr>
            <tr>
              <th>Brand</th>
              <td><%= ProductData.brand %></td>
              <th>Discount</th>
              <td><%= ProductData.discount %></td>
              <th>Status</th>
              <td><%= ProductData.status %></td>
              <th>Stock</th>
              <td><%= ProductData.stock %></td>
            </tr>
            <tr>
              <th>Images</th>
              <td>
                <% for (let i = 0; i < ProductData.images.length; i++) { %>
                  <img style="margin-bottom: 5px;" width="100px" height="100px" src="/images/productImages/<%= ProductData.images[i] %>" alt="Product Image <%= i + 1 %>">
                <% } %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</main>
