<%- include('../layouts/header.ejs') %>

<section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <ul class="list-inline dashboard-menu text-center">
                <li><a href="/edit?id=<%= user._id %>">Profile Details</a></li>
                <li><a class="active" href="/edit/address">Address</a></li>
                <li><a href="/home/myOrders">Orders</a></li>
              </ul>
          <div class="dashboard-wrapper user-dashboard">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Zip Code</th>
                    <th class="col-md-2 col-sm-3">Mobile</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% if (addressData && addressData.address && addressData.address.length > 0) { %>
                        <% addressData.address.forEach(address=>{ %>
                  <tr>
                    <td><%= address.name %></td>
                    <td><%= address.address %></td>
                    <td><%= address.city %></td>
                    <td><%= address.state %></td>
                    <td><%= address.country %></td>
                    <td><%= address.zipcode %></td>
                    <td><%= address.mobile %></td>
                    <td>
                      <div class="btn-group" role="group">
                        <!-- <button type="button" class="btn btn-default"><i class="tf-pencil2" aria-hidden="true"></i></button> -->
                        <a href="/edit/address/edit-address?id=<%= address.address %>" class="btn btn-default"><i class="tf-pencil2" aria-hidden="true"></i></a>
                        <a href="/edit/address/delete-address?id=<%= address.address %>" class="btn btn-default" data-method="DELETE" onclick="confirmDelete(event)"><i class="tf-ion-close" aria-hidden="true"></i></a>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                  <% } else { %>
                    <p>No address found</p>
                    <% } %>
                    <a href="/edit/address/add-address" class="btn btn-default"><i class="tf-ion-plus" aria-hidden="true"></i></a>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="/js/alertPopUp.js"></script>

<%- include('../layouts/footer.ejs') %>