<%- include('../layouts/header.ejs') %>

<!-- <script>
    function setPrimaryImage(imageUrl) {
        
        document.getElementById('primaryImage').src = imageUrl;
    }
</script>

<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/productView.css">
<link rel="stylesheet" type="text/css" href="/css/productView_responsive.css">

<div class="super_container">

	<div class="fs_menu_overlay"></div>

	<div class="container single_product_container">
		<div class="row">
			<div class="col">

			</div>
		</div>

		<div class="row">
			<div class="col-lg-7">
				<div class="single_product_pics">
					<div class="row">
						<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                            <% products.images.forEach((image, index) => { %>
							<div class="single_product_thumbnails" onclick="setPrimaryImage('/images/productImages/<%= image %>')">
								<ul>
									<li class="active"><img src="/images/productImages/<%= image %>" style="height: 136px; width: 136px" alt="" data-image="images/single_2.jpg"></li>
								</ul>
							</div>
                            <% }); %>
						</div>
						<div class="col-lg-9 image_col order-lg-2 order-1">
							<div class="single_product_image">
								<div class="single_product_image_background zoom-in"> <img id="primaryImage" class="product-image" src="/images/productImages/<%= products.images[0] %>" alt="" style="height: 527px; width: 453px"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="product_details">
					<div class="product_details_title">
						<h2><%= products.name %></h2>
						<p><%= products.description %></p>
					</div>
					<div class="free_delivery d-flex flex-row align-items-center justify-content-center">
						<span class="ti-truck"></span><span>free delivery</span>
					</div>
					<div class="original_price">$629.99</div>
					<div class="product_price">$<%= products.price %></div>
					<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
						<form action="/home/products/add-to-cart/<%= products._id %>" method="post">
				
							<div class="red_button add_to_cart_button">
								<button type="submit" >Add to Cart</button>
							</div>
						</form>
						<div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/js/productView.js"></script> -->


<section class="single-product">
	<div class="container">

<div class="row mt-20">
	<div class="col-md-5">
		<div class="single-product-slider">
			<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
				<div class='carousel-outer'>
					<!-- me art lab slider -->
					<div class='carousel-inner category-box'>
						<% products.images.forEach((image, index) => { %>
							<div class='item <%= index === 0 ? "active" : "" %>'>
								<img src='/images/productImages/<%= image %>' alt='' data-zoom-image="/images/productImages/<%= image %>" />
							</div>
						<% }) %>
					</div>
	
					<!-- sag sol -->
					<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
						<i class="tf-ion-ios-arrow-left"></i>
					</a>
					<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
						<i class="tf-ion-ios-arrow-right"></i>
					</a>
				</div>
	
				<!-- thumb -->
				<ol class='carousel-indicators mCustomScrollbar meartlab'>
					<% products.images.forEach((image, index) => { %>
						<li data-target='#carousel-custom' data-slide-to='<%= index %>' class='<%= index === 0 ? "active" : "" %>'>
							<img src='/images/productImages/<%= image %>' alt='' />
						</li>
					<% }) %>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="col-md-7">
		<div class="single-product-details">
			<h2><%= products.name %></h2>
			<p class="product-price">$ <%= products.price %></p>
			
			<p class="product-description mt-20">
				<%= products.description %>
			</p>
			<div class="color-swatches">
				<span>color:</span>
				<ul>
					<li>
						<a href="#!" class="swatch-violet"></a>
					</li>
					<li>
						<a href="#!" class="swatch-black"></a>
					</li>
					<li>
						<a href="#!" class="swatch-cream"></a>
					</li>
				</ul>
			</div>
			<div class="product-size">
				<span>Size:</span>
				<select class="form-control">
					<option>S</option>
					<option>M</option>
					<option>L</option>
					<option>XL</option>
				</select>
			</div>
			<div class="product-quantity">
				<span>Quantity:</span>
				<div class="product-quantity-slider">
					<input id="product-quantity" type="text" value="1" name="product-quantity">
				</div>
			</div>
			<!-- <div class="product-category">
				<span>Categories:</span>
				<ul>
					<li><a href="product-single.html">Products</a></li>
					<li><a href="product-single.html">Soap</a></li>
				</ul>
			</div> -->

			<form action="/home/products/add-to-cart/<%= products._id %>" method="post">
				<!-- <a href="cart.html" class="btn btn-main mt-20">Add To Cart</a> -->
				<button type="submit" class="btn btn-main mt-20" >Add to Cart</button>
			</form>
			
		</div>
	</div>
</div>

</div>
</section>

<%- include('../layouts/footer.ejs') %>
